.notifications-container {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  //border-radius: 8px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;

  h2 {
    font-size: 18px;
    //margin-bottom: 16px;
    color: #333;
  }

  .notification {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;

    .avatar {
      width: 40px;
      height: 40px;
      background: #eafaf1;
      color: #34c759;
      font-weight: 400;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 12px;
    }

    .content {
      .title {
        font-weight: 500;
        font-size: 16px;
        margin: 0;
        color: #333;
      }

      .description {
        font-size: 14px;
        margin: 4px 0 0 0;
        color: #666;
      }
    }
  }
}
