<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">-->
<div class="container">

  <div class="content">
    <div class="drag-drop">
      <div cdkDropList
           (cdkDropListDropped)="this.onColumnDrop($event)"
           style="display:flex; gap:16px"
           [cdkDropListData]="list$ | async"
           cdkDropListOrientation="horizontal"
           cdkDropListGroup
           class="drag-drop-container">
        @if (Array.isArray(columns$)) {
          @for (column of columns$; track $index) {
            <div
              style="background-color: white"
              class="example-container"
            >
              <div cdkDrag
                   [cdkDragData]="column">
                <h2>{{ column.title }}</h2>
                <div
                  cdkDropList
                  (cdkDropListDropped)="drop($event)"
                  [cdkDropListData]="column.cards"
                  class="example-list"
                >
                  <div
                    *ngFor="let card of column.cards; let cardIndex = index"
                    class="example-box"
                    style="background-color: whitesmoke"
                    cdkDrag
                    [cdkDragData]="card"
                    (click)="openDescriptionDialog()"
                  >
                    {{ card.title }}
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>

      <div class="btns">
        <button (click)="login()">Sign in</button>
        <br/>

        <input type="file" (change)="upFileSelected($event)">
        <button (click)="upload()">Upload</button>
        <button (click)="logout()">Sign out</button>
        <button (click)="getBoard()">call get board</button>
      </div>
    </div>
  </div>
</div>
