<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">-->
<div class="container">
  <app-navbar></app-navbar>

  <div class="content">
    <app-sidebar></app-sidebar>
    <div class="drag-drop">
      <div cdkDropList
           (cdkDropListDropped)="this.onColumnDrop($event)"
           style="display:flex; gap:16px"
           [cdkDropListData]="columns"
           cdkDropListOrientation="horizontal"
           cdkDropListGroup
           class="drag-drop-container">
        <div
          *ngFor="let column of columns; let colIndex = index"
          style="background-color: white"
          class="example-container"
        >
          <div cdkDrag
               [cdkDragData]="column">
            <h2>{{ column.title }}</h2>
            <div
              cdkDropList
              (cdkDropListDropped)="drop($event)"
              [cdkDropListData]="column.cards"
              class="example-list"
            >
              <div
                *ngFor="let card of column.cards; let cardIndex = index"
                class="example-box"
                style="background-color: whitesmoke"
                cdkDrag
                [cdkDragData]="card"
                (click)="openDescriptionDialog()"
              >
                {{ card.title }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btns">
        <button (click)="reset()">Reset</button>

        <button (click)="login()">Sign in</button>
        <br/>

<input type="file" (change)="upFileSelected($event)">
<button (click)="upload()">Upload</button>
